.icon {
	margin-left: 10px;
	display: inline-block;
	padding-left: 7px;
	width: 45px;
	color: white;
}
.bigicon{
    margin-left: 5px;
	display: inline-block;
	padding-left: 2px;
	width: 80px;
    height: 80px;
	color: white;
    text-align:center;
    font-size:60px;
}
.name {
	display: inline-block;
	padding-left: 10px;
	width: 150px;

}
.detailname {
	display: inline-block;
	padding-left: 10px;
	width: 400px;
    font-size:40px;
}
.detailnamegood {
	display: inline-block;
	padding-left: 10px;
	width: 400px;
    font-size:40px;
    color: green;
}
.detailnamebad {
	display: inline-block;
	padding-left: 10px;
	width: 400px;
    font-size:40px;
    color: red;
}
td {
	border-radius: 10px;
}

.NS {
	background-color: #DC241F;
}
.CE {
	background-color: #FF9A00;
}

.CC {
	background-color: #FF9A00;
}
.NE {
	background-color: #9016B2;
}
.EW {
	background-color: #009530;
}
.CG {
	background-color: #009530;
}
.DT {
	background-color: #0354A6;
}
.TS {
	background-color: #734538;
}